{
  "plugins": ["@prettier/plugin-ruby"],
  "overrides": [
    {
      "files": "*.rb",
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    },
    {
      "files": ["*.html", "*.erb", "legacy/**/*.js"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
