
<article class="d-flex justify-content-center align-items-center flex-column">

<h1 class="my-5">Friends List</h1>
<p class=" text-center">
  Mini app to learn and practice Ruby on Rails CRUD operations and devise gem.
</p>

</article>


